<%= form_for(@pfile) do |f| %>
  <% if @pfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pfile.errors.count, "error") %> prohibited this pfile from being saved:</h2>

      <ul>
      <% @pfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
